.container > h2 {
  margin-bottom: .5rem;
  color: var(--white);
  font-size: clamp(1.15rem, 6vw, 1.55rem);
}

.carousel-cell {
  margin-right: .5rem;
}

.anime {
  cursor: pointer;
  max-width: fit-content;
  flex: 1 0 0;
  width: clamp(110px, 25vw, 150px);
  height: 300px;
}

.anime .anime-cover {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.anime .anime-cover img {
  transition: .2s;
  display: block;
  height: clamp(170px, 35vw, 220px);
  object-fit: cover;
}

.anime .anime-cover img:hover {
  transform: scale(1.1);
}

.anime .episodes {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: var(--light-blue);
  padding: .25rem .5rem;
  color: white;
  border-top-right-radius: 12px;
  font-size: .8rem;
}

.anime .anime-title {
  color: white;
  text-align: center;
  font-size: .9rem;
  font-weight: 500;
  margin-top: .25rem;
  width: clamp(110px, 25vw, 150px);
}

section[data-section="list"] {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.list-title {
  color: var(--white);
  margin-bottom: 1rem;
}