.anime-banner {
  position: relative;
}

.anime-banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgb(0 0 0 / 0) 40%, rgb(0 0 0 / .6));
}

.anime-banner img {
  height: 30vh;
  width: 100%;
  display: block;
  object-fit: cover;
}

.anime-intro {
  position: relative;
  z-index: 99;
  margin-left: 5vw;
  color: white;
  line-height: 1.3;
  padding-right: 5vw;
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'anime-cover description' 'anime-cover description' 'options options'; */
}

.anime-intro img.anime-cover {
  max-width: 120px;
  align-self: baseline;
  margin-right: 1rem;
  box-shadow: 0 0 16px var(--light-blue-shadow);
  grid-area: anime-cover;
  float: left;
  clear: right;
}

.anime-name {
  font-size: 1.4rem;
  font-weight: 500;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  grid-area: anime-name;
}

.anime-intro .description {
  grid-area: description;
}

.anime-intro p {
  margin-block: .25rem;
}

.box {
  grid-area: box;
  height: max-content;
}

/* ANIME-DATA */

.anime-data {
  margin-left: 5vw;
  margin-top: 2rem;
}

.anime-data .data {
  display: flex;
  align-items: center;
  gap: 1.35rem;
  overflow-x: scroll;
  padding: 1rem;
  margin-right: 5vw;
  margin-block: 2rem;
  background-color: white;
  border-radius: 6px;
}

.anime-data .data .data-set {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  flex-shrink: 0;
}

.anime-data .data .data-set .data-type {
  font-size: .8rem;
  color: var(--dark-blue);
  font-weight: 600;
}

.anime-data .data .data-set .data-value {
  font-size: .8rem;
}

/* RANKINGS */

.rankings {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.rankings span {
  background-color: white;
  color: var(--dark-blue);
  font-weight: 600;
  padding: .25rem .5rem;
  width: fit-content;
  border-radius: 4px;
}

/* OPTIONS */

.options {
  display: flex;
  grid-area: options;
  align-self: baseline;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.options .btn-functions {
  cursor: pointer;
  padding: .5rem .75rem;
  width: 110px;
  border-radius: 6px;
  border: 1px solid #222;
  font-weight: 800;
  transition: transform .2s;
  margin-right: .25rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: .5rem;
  align-self: baseline;
}

.options .btn-functions svg {
  font-size: 1rem;
  color: var(--dark-blue);
}

.options button:hover {
  transform: scale(1.1);
}

.options button img {
  width: 1rem;
}

/* DATA- */
div.data-container {
  margin-inline: 1.5rem;
  margin-block: 2rem;
}

div.data-container h3.data-type {
  font-size: 1.1rem;
  color: white;
}

div.data-container p.data-value {
  background-color: var(--dark-data-backgorund);
  padding: 1rem;
  color: white;
  border-radius: 6px;
  margin-top: 1rem;
}

/* MEDIA QUERIE */
@media (max-width: 360px) {
  .options {
    flex-direction: column;
  }

  .options button {
    align-self: center;
  }
}

@media (min-width: 768px) {
  .anime-banner img {
    height: 40vh;
  }

  .anime-intro {
    margin-top: -35vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'anime-cover box' 'anime-cover options';
    row-gap: 1rem;
  }

  .anime-intro .anime-cover {
    max-width: max-content;
  }

  .anime-name {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  }

  .options button {
    width: fit-content;
  }

  .anime-data {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 208px auto;
    grid-template-rows: auto auto;
  }

  .anime-data .data {
    grid-row: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    margin: 0;
    overflow-x: auto;
  }

  .anime-data .data .data-set {
    gap: .25rem;
  }

  .rankings {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .anime-intro {
    max-width: 1100px;
  }
}