#w {
  font-size: 2rem;
  color: wheat;
  position: absolute;
  top: 0;
  left: 0;
}

:root {
  --font-pattern: 'Montserrat', sans-serif;

  --hue: 220;
  --light-hue: calc(var(--hue) - 19);
  --orange: #f77f00;
  --dark-blue: hsl(var(--hue), 23%, 16%);
  --dark-blue-transparent: hsla(var(--hue), 23%, 16%, 0.8);
  --light-blue: hsl(var(--light-hue), 98%, 65%);
  --light-blue-shadow: hsla(var(--light-hue), 98%, 65%, 0.4);
  --white: #F7F5F5;
  --grey: #373a42;
  --light-grey: #e4dada;
  --screen-background: var(--grey);
  --screen-color: var(--white);

  --header-height: 70px;
  --max-width: 1200px;
}

@font-face {
  font-family: "Fontstars";
  src: url(/fonts/Fonstars-4Bo0p.otf);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.max-width {
  max-width: var(--max-width);
  margin-inline: auto;
}

body {
  background-color: var(--dark-blue);
  font-family: var(--font-pattern);
}

.container {
  margin-top: 1rem;
  padding-inline: 1rem;
}

header {
  height: var(--header-height);
  border-bottom: 1px solid rgb(104, 104, 104);
}

header div{
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  position: relative;
}

header #logo {
  color: var(--light-blue);
  font-family: Fontstars;
  font-size: 2rem;
  text-decoration: none;
}

header .menu-toggle {
  cursor: pointer;
  color: var(--white);
  font-size: 32px;
  pointer-events: all;
}

nav {
  display: none;
}

nav.active {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 999;
}

nav ul {
  list-style: none;
}

nav.active ul li a{
  text-decoration: none;
  width: 100%;
  display: inline-block;
  color: var(--white);
  background-color: var(--grey);
  text-align: center;
  padding-block: .75rem;
  border-bottom: 1px solid var(--dark-blue);
  transition: background .2s;
}

nav.active ul li a:hover {
  background-color: var(--light-blue);
}

/* SCREENS */

.loading, .error-screen, .nonAnimeFound {
  height: 200px;
  width: 100%;
  gap: 1rem;
  background-color: var(--screen-background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1.5rem;
}

.loading, .error-screen, .nonAnimeFound p {
  font-weight: 500;
  color: var(--screen-color);
}

.loading img {
  max-width: 50px;
  animation: loading 1.5s infinite ease;
}

.error-screen img{
  max-width: 250px;
}

@keyframes loading {
  0% {
   transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* FOOTER */

footer {
  height: 70px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  margin-top: 2rem;
  gap: .5rem;
}

footer img {
  width: 32px;
  color: white;
  fill: white;
  background-color: white;
  border-radius: 50%;
}

@media (min-width: 768px) {
  header .menu-toggle {
    display: none;
  }

  nav, nav.active {
    display: block;
    position: static;
  }

  nav ul, nav.active ul {
    display: flex;
    gap: 1rem;
  }
  

  nav ul li a, nav.active ul li a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    color: var(--white);
    text-align: center;
    padding-block: .25rem;
    padding-inline: .25rem;
    border-bottom: 1px solid var(--dark-blue);
    background-color: transparent;
    position: relative;
  }

  nav ul li a::before, nav.active ul li a::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--light-blue);
    transition: .2s;
  }

  nav ul li a:hover::before, nav.active ul li a:hover::before {
    width: 100%;
  }
}