<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animes</title>

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
  <!-- AXIOS -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
  <!-- CSS -->
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/anime.css">
  <link rel="stylesheet" href="/style/flickity.min.css">

  <!-- JAVASCRIPT -->
  <script type="module" src="/scripts/screens.js"></script>
  <script type="module" src="/scripts/script.js"></script>
  <script type="module" src="/scripts/anime.js" defer></script>
  <script src="/scripts/flickity.pkgd.min.js"></script>


</head>
<body>
  <header>
    <h1 id="logo">Animes</h1>
    <img src="/icons/menu.svg" role="button" class="menu_toggle"></img>
    <nav>
      <ul>
        <li><a href="/animes">Página Inicial</a></li>
        <li><a href="#">Minha lista</a></li>
        <li><a href="#">Favoritos</a></li>
        <li><a href="#">Curtidos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="#<%= id %>" class="animeContainer">
          <div class="options">
            <button class="btn-functions" data-type="likes" data-function="add">Like<img src="/icons/heart-o.svg"></img></button>
            <button class="btn-functions" data-type="favorites" data-function="add">Favorite<img src="/icons/star-o.svg"></img></button>
            <button class="btn-functions" data-type="mylist" data-function="add">My List<img src="/icons/plus.svg"></img></button>
          </div>
    </section>
  </main>
  <p id="w"></p>
</body>
</html>