<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animes</title>

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/309e31f583.js" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/anime-list.css">
  <link rel="stylesheet" href="/style/flickity.min.css">

  <!-- JAVASCRIPT -->
  <script type="module" src="/scripts/script.js"></script>
  <script type="module" src="/scripts/screens.js"></script>
  <script type="module" src="/scripts/initial-page.js"></script>
  <script src="/scripts/flickity.pkgd.min.js"></script>

  <!-- AXIOS -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
  <header>
    <h1 id="logo">Animes</h1>
    <i class="fa-solid fa-bars menu-toggle"></i>
    <nav>
      <ul>
        <li><a href="#">Página Inicial</a></li>
        <li><a href="#">Minha lista</a></li>
        <li><a href="#">Favoritos</a></li>
        <li><a href="#">Curtidos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <div class="container">
        <h2>Têndencias no momento</h2>
        <div class="anime-list main-carousel" id="trend">
        </div>
      </div>
    </section>
  </main> -->
  <p id="w"></p>
</body>
</html>