<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="All the info of your anime!" />
    <title>Animes</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/309e31f583.js"
      crossorigin="anonymous"
    ></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/anime.css" />
    <link rel="stylesheet" href="/style/flickity.min.css" />

    <!-- JAVASCRIPT -->
    <script src="/scripts/script.js" defer></script>
    <script type="module" src="/scripts/anime.js"></script>
    <script src="/scripts/flickity.pkgd.min.js"></script>
  </head>
  <body>
    <header>
      <div class="max-width">
        <a href="/animes" id="logo">ANIMES</a>
        <button
          class="fa-solid fa-bars menu-toggle"
          role="button"
          onclick="openMenu(this)"
        ></button>
        <nav>
          <ul>
            <li><a href="/animes">Home</a></li>
            <li><a href="/animes/likes">Liked</a></li>
            <li><a href="/animes/favorites">Favorites</a></li>
            <li><a href="/animes/my-list">My List</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="<%= id %>" class="anime max-width">
        <div class="options">
          <button
            class="btn-functions"
            data-type="likes"
            data-function="add"
            role="button"
            title="Add to liked animes"
          ></button>
          <button
            class="btn-functions"
            data-type="favorites"
            data-function="add"
            role="button"
            title="Add to favorites"
          ></button>
          <button
            class="btn-functions"
            data-type="my-list"
            data-function="add"
            role="button"
            title="Add to my list"
            ></button>
        </div>
      </section>
    </main>
    <footer>
      Enzo Mateus Gonçalves
      <a href="https://github.com/enzogoncalves" target="_blank">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
        />
      </a>
    </footer>
  </body>
</html>
